$font-path: "fonts";

//fonts
$base-font: "SpaceMono Regular", Arial, monospace;

//size
$font-size-smaller: 10px;
$font-size-small: 12px;
$font-size-base: 14px;
$font-size-medium: 16px;
$font-size-big: 20px;
$font-size-large: 24px;